#loading-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;

    #loading-modal {
        background: rgb(198, 198, 198);
        box-shadow: inset 1px 1px 0px 1px #dfdfdf, inset -1px -1px 0 1px #848584;
        padding: 1rem;
        width: 50vw;

        p {
            text-align: center;
        }
    }
}
